<div class="artista-container">
  <div class="buscador">
    <div class="input-wrapper">
      <input type="text" placeholder="Buscar...">
      <img src="/assets/img/lupa-gris.png" alt="Lupa" class="lupa-img">
    </div>
  </div>
  <div class="artistas">
    <ng-container *ngFor="let artista of artistas">
        <app-artistas [artistaPadre] = "artista" (click)="mostrarPerfil(artista)"></app-artistas>
    </ng-container> 
    <div *ngIf="artistas.length===0" class="noLibros">En estos momentos, no hay artistas disponibles</div>
  </div>
</div>