<div class="navbar">
    <div class="buttons" [ngClass]="{'centered-icons': !isTatuador}">
      <a href=""><img src="/assets/iconos/Vector.png" alt="calendario"></a>
      <a href=""><img src="/assets/iconos/magnify-expand.png" alt="busqueda"></a>
      <a href="" *ngIf="isTatuador"><img src="/assets/iconos/camera-plus-outline.png" alt="camara"></a>
      <a href=""><img src="/assets/iconos/bulletin-board.png" alt="tablon"></a>
      <a href=""><img src="/assets/iconos/chat-processing-outline.png" alt="chat"></a>
    </div>
  </div>
