

        <div class="header">
            <input type="checkbox">
            <img src="/assets/img/pngwing.com.png" class="hamburguesa">
          
            <nav>
              <ul>   
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Guía de uso</a></li>
              </ul>
            </nav>

            <img src="/assets/img/Header defi copia.png" class="inkseek">
            <div class="img-perfil"><img src="/assets/img/IMG_4465 1.png"></div>     
          </div>
