<main class ="contenedor">
    <section class="head">
        <h1 class ="Text" >Nueva Cita</h1>
        <a href=""><img src="/assets/Calendario/cruz.png" alt=""></a>
    </section>

    <section class ="inputs">
        <input type="text" placeholder="     Nombre de la cita">
        <input type="text" placeholder="     Fecha                                                                                        00-00-00" class ="fecha">
        <input type="text" placeholder="     Hora                                                                                                   00:00">
    </section>


    <section class ="back">
        <a href=""><img src="/assets/Calendario/Vector.png" alt=""></a>

    </section>
    <section>
        <div class ="logo">
            <img src="/assets/Calendario/polilla.png" alt="">
        </div>
    </section>


</main>