<!-- <ng-container *ngFor="let prenda of prendas">
  <div class="prenda">
      <div class="image"><img class="imagen" src="{{prenda.photo}}"></div>
      <span class="title">{{prenda.title}}</span>
  </div>
</ng-container> -->
<main>
  <div class="add-search">
    <div><img  src="./assets/images/flecha-atras.png" alt="" routerLink="/profile-tatuador-propia" routerLinkActive="active" class="atras"></div>
    <div class="buscador">
      <div class="input-wrapper">
        <input type="text" placeholder="Buscar...">
        <img src="/assets/img/lupa-gris.png" alt="Lupa" class="lupa-img">
      </div>
    </div>
    <div class="mas" (click)="goAdd()" *ngIf="isTatuador">
      <img src="/assets/Calendario/simbolo de mas.png" alt="">
    </div>
  </div>
  <div class="card-container">
    <div *ngFor="let prenda of prendas" class="card">
      <div class="image">
        <button class="buter" type="button" (click)="quitarCaja()" *ngIf="isTatuador">X</button>
        <img class="imagen" [src]="prenda.photo">
      </div>
      <div class="title">{{prenda.title}}</div>
    </div>
  </div>
</main>