<div class="eventos-container">
  <div class="add-search">
    <div class="buscador">
      <div class="input-wrapper">
        <input type="text" placeholder="Buscar...">
        <img src="/assets/img/lupa-gris.png" alt="Lupa" class="lupa-img">
      </div>
    </div>
    <div class="mas" (click)="goAdd()" *ngIf="isTatuador">
      <img src="/assets/Calendario/simbolo de mas.png" alt="">
    </div>
  </div>
    <div class="eventos-lista">
      <div class="evento-card" *ngFor="let evento of eventos">
        <div class="foto">
          <img [src]="evento.photo" alt="Foto del evento" />
        </div>
        <div class="contenido">
          <h3>{{ evento.title }}</h3>
          <p>{{ evento.date }}</p>
          <p>{{ evento.place }}</p>
        </div>
      </div>
    </div>
</div>
  