@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


.background-black{
    background-color: var(--negro);
    height: 808px;
}

.background-image {
    background-image: url('/assets/images/mariposilla_solita.png'); 
    background-repeat: no-repeat;
    background-position: center top -40px;
    background-size: cover;
  }
  
.inkseek{
    margin-top: 70px;
}

span{
    color: var(--principal);
    font-family: 'Lato', sans-serif;
}
.tatuador{
    position: absolute;
    width: 334px;
    height: 65px;
    left: 29px;
    top: 548px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--blanco);
    background-color: transparent;
    border: none;
    animation: borderAnimation 5s 0.5s ease forwards;
    
    box-sizing: border-box;
    position: absolute;
    width: 333px;
    height: 68px;
    left: 30px;
    top: 539px;
    border-radius: 20px;
    
}

.tatuante{
    position: absolute;
    width: 334px;
    height: 66px;
    left: 29px;
    top: 669px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--blanco);
    background-color: transparent;
    border: none;
    animation: borderAnimation 5s 2s ease forwards;
    
    box-sizing: border-box;
    position: absolute;
    width: 333px;
    height: 66px;
    left: 29px;
    top: 661px;
    border-radius: 20px;  
}


@keyframes borderAnimation {
    0% {
      border: 2px solid transparent;
    }
    100% {
      border: 2px solid var(--principal);
    }}