    <div class="artista">
      <a routerLink="/profile-tatuador-externa" routerLinkActive="active" (click)="verPerfil()">
        <div class="artista-info">
          <div class="perfil-foto">
            <img src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/media/image/2016/09/569465-whatsapp-que-tus-contactos-ponen-rana-perfil.jpg?tf=3840x" alt="Foto de Perfil" class="foto-perfil"/>
          </div>
          <div class="info">
            <p class="perfil-nombre" class="nickname"><strong>{{ artistaPadre.nickname }}</strong></p>
            <p class="perfil-nombre" class="estilo-studio">Estilo: {{ artistaPadre.style }}</p>
            <p class="perfil-nombre" class="estilo-studio">Estudio: {{ artistaPadre.studio }}</p>
          </div>
        </div>
      </a>
    </div>

