
<main class ="contenedor">
    <section class="head">
        <h1 class ="Text" >Nuevo evento</h1>
        <div class="margenY">
            <div class="exit"> <img src="./assets/delete.png" alt="" routerLink="/tablon" routerLinkActive="active"></div>
        </div>
    </section>

    <section class ="inputs">
        <input type="text" placeholder="     Cartel del evento"[(ngModel)]="photo" name="photo">
        <input type="text" placeholder="     Nombre del evento"[(ngModel)]="title" name="title">
        <input type="text" placeholder="     Fecha del evento "[(ngModel)]="date" name="date"> 
        <input type="text" placeholder="     Lugar del evento"[(ngModel)]="place" name="place"> 
    </section>


    <section class ="back" (click)="postEvent()">
        <!-- <a routerLink="/tablon" routerLinkActive="active"> -->
            <img src="/assets/Calendario/Vector.png" alt="" >
        <!-- </a> -->

    </section>
    <section>
        <div class ="logo">
            <img src="/assets/Calendario/polilla.png" alt="">
        </div>
    </section>


</main>

