

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

*{
    font-family: 'Lato' sans-serif;
}
.contenedor{
    width: 100%;
    background: var(--negro);
    display: flex;
    flex-direction: column;
 
}

.head{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-weight: 300;
    color : var(--gris3);
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 20px;

}
.boton{
right: 10px;
}

.inputs{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 300;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--gris3);
}
.inputs input{
    height: 50px;
    background: var(--gris1);
    border-radius: 36px;
    border: 1px solid var(--principal);
    color: var(--gris3);
    font-size: 15px;
    padding-left: 26px;
    padding-right: 26px;
}

.back{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 30px;
    padding-top: 10px;

}

h1{
    font-family: 'Lato' sans-serif;
    font-weight: lighter;

}

.logo{
    margin-left: 25px;
}
.margenY{
margin-right: 30px;
margin-top: 8px;
}
.exit{
    width: 6%;
    height: 3%;
    position: absolute;
    
}
input::-webkit-calendar-picker-indicator {
    color: var(--gris3);
    background-image: url('/assets/iconos/Vector.png'); /* Ruta de la imagen o icono personalizado */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Ajusta el tamaño de la imagen según tus necesidades */
    width: 24px; /* Ajusta el ancho según tus necesidades */
    height: 24px; /* Ajusta el alto según tus necesidades */
    opacity: 1; /* Asegúrate de que la opacidad sea 1 para que se muestre la imagen */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el icono */
  } 