@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.fondo {
  min-height: 100vh;
  width: 100%;
  background-color: var(--gris1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.line1 {
  height: 20%;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  margin-right: 20px;
}

.foto {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.imagen {
  height: 100%;
  width: 85%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.profileimg {
  height: 75%;
  width: 80%;
  border-radius: 50%;
}

.editar {
  position:absolute;
  margin-left: 120px;
}



.info1 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.valoracion {
  height: 30px;
  width: 30px;
  margin-right: 140px;
  margin-left: 20px;
  position: absolute;
  top: 100px;
  right: 0px;
  scale: 0.9;
}

.line2 {
  height: 12%;
  width: 80%;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


.tienda {
  height: 30px;
  width: 30px;
  background-image:url("src/assets/iconos/camisetita.png");
  background-repeat:no-repeat;
  background-size: contain;
  position: absolute;
  top: 180px;
  right: 30px;
  border: 1px solid var(--principal);
  border-radius: 7px;
  background-size: 80%;
  background-position: center;
  margin-right: 1.5px;
}
.chat {  
  height: 30px;
  width: 30px;
  background-image:url("src/assets/iconos/chat-processing-outline1.png");
  background-repeat:no-repeat;
  background-size: contain;
  position: absolute;
  top: 230px;
  right: 30px;
  border: 1px solid var(--principal);
  border-radius: 7px;
  background-size: 80%;
  background-position: center;
  margin-right: 2px;
}



.name {
  height: 10%;
  width: 80%;
}

.descrip {
  height: auto;
  width: 80%;
}

.line3 {
  height: 55%;
  width: 100%;
}
img {
  max-height: 100%;
  max-width: auto;

}

.bedit {
  max-height: 45px;
  max-width: 45px;
  margin-left: 15px;
  margin-top: 85px;
}

p {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

h3 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.artista-card {
  position: relative;
  width: 380px;
  height: 500px;
  margin: 15px 10px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--black);
  background-color: var(--gristablon);
  color: var(--gris3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.artista-card:last-child {
  margin-bottom: 90px;
}

.foto {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
