<div class="container">
    <div class="background"></div>
    <div class="content">
      <img src="/assets/images/mariposilla solita copia3.png" alt="mariposa" class="mariposa" [@volar]>
      <img src="/assets/images/titulo.png" alt="título" class="titulo" [@aparecer]>
      <div #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="formulario"  [@aparecer] >
        <label class="name-label-email">Email</label>
        <input type="text" placeholder=" " />
        <label class="name-label-contraseña">Contraseña</label>
        <input type="password" placeholder=" " />
        <button (click)= onSubmit(loginForm) class="boton"; [disabled]="loginForm.invalid">Sign in</button>
        <p>¿No tienes una cuenta todavía?</p>
        <a routerLink="/pre-register" routerLinkActive="active">Sign up</a>
      </div>
    </div>
  </div>
  