<main class = "contenedor">
    <section class ="mes" [ngClass]= "{'centered-title ': !isTatuador}" >
        <h1 class ="nombre_mes" style = "font-weight: bold">Julio</h1>
        <a href="" *ngIf="isTatuador"><img src="/assets/Calendario/simbolo de mas.png" alt=""></a>
    </section>
    <section class="dia">
        <div class="dias__item">L</div>
        <div class="dias__item">M</div>
        <div class="dias__item">X</div>
        <div class="dias__item">J</div>
        <div class="dias__item">V</div>
        <div class="dias__item" style="color: var(--principal);">S</div>
        <div class="dias__item" style="color: var(--principal);">D</div>
    </section>


    <section class ="calendario">
        <div class="calendario__dia"><a href=""style="color : var(--gris3)">26</a></div>
        <div class="calendario__dia"><a href=""style="color : var(--gris3)">27</a></div>
        <div class="calendario__dia"><a href=""style="color : var(--gris3)">28</a></div>
        <div class="calendario__dia"><a href=""style="color : var(--gris3)">29</a></div>
        <div class="calendario__dia"><a href=""style="color : var(--gris3)">30</a></div>
        <div class="calendario__dia"><a href=""style="color: var(--principal);">1</a></div>
        <div class="calendario__dia"><a href=""style="color: var(--principal);">2</a></div>
        <div class="calendario__dia"><a href="">3</a></div>
        <div class="calendario__dia"><a href="">4</a></div>
        <div class="calendario__dia"><a href="">5</a></div>
        <div class="calendario__dia"><a href="">6</a></div>
        <div class="calendario__dia"><a href="">7</a></div>
        <div class="calendario__dia"><a href=""style="color: var(--principal);">8</a></div>
        <div class="calendario__dia"><a href=""style="color: var(--principal);">9</a></div>
        <div class="calendario__dia"><a href="">10</a></div>
        <div class="calendario__dia"><a href="">11</a></div>
        <div class="calendario__dia"><a href="">12</a></div>
        <div class="calendario__dia"><a href="">13</a></div>
        <div class="calendario__dia"><a href="">14</a></div>
        <div class="calendario__dia"><a href=""style="color: var(--principal);">15</a></div>
        <div class="calendario__dia"><a href=""style="color: var(--principal);">16</a></div>
        <div class="calendario__dia"><a href="">17</a></div>
        <div class="calendario__dia"><a href="">18</a></div>
        <div class="calendario__dia"><a href="">19</a></div>
        <div class="calendario__dia"><a href="">20</a></div>
        <div class="calendario__dia"><a href="">21</a></div>
        <div class="calendario__dia"><a href=""style="color: var(--principal);">22</a></div>
        <div class="calendario__dia"><a href=""style="color: var(--principal);">23</a></div>
        <div class="calendario__dia"><a href="">24</a></div>
        <div class="calendario__dia"><a href="">25</a></div>
        <div class="calendario__dia"><a href="">26</a></div>
        <div class="calendario__dia"><a href="">27</a></div>
        <div class="calendario__dia"><a href="">28</a></div>
        <div class="calendario__dia"><a href=""style="color: var(--principal);">29</a></div>
        <div class="calendario__dia"><a href=""style="color: var(--principal);">30</a></div>
        <div class="calendario__dia"><a href="">31</a></div>
    </section>


    <section class ="cards">
        <div class ="content">
            <h2 style="height: 20px;">Cita programada:</h2>

            <h1>9:00</h1>
        </div>
        <div class ="content">
            <h2 style="height: 20px;">Cita programada:</h2>

            <h1>17:00</h1>
        </div>
        <div class ="content">
            <h2 style="height: 20px;">Cita programada:</h2>

            <h1>20:00</h1>
        </div>
    </section>


</main>



