<main class="contenedor">
    <section class="mes" [ngClass]="{ 'centered-title': !is_Tatuador }">
      <div class="flecha1" (click)="changeMonth(-1)"><img src="/assets/images/Arrow 3.png" alt=""></div>
      <p class="nombre_mes" style="font-weight: bold">{{ viewDate | date: 'MMMM' }}</p>
      <div class="flecha2" (click)="changeMonth(1)"><img src="/assets/images/Arrow 2.png" alt=""></div>
      <a routerLink="/add-cita" routerLinkActive="active" *ngIf="is_Tatuador" class="mas"><img src="/assets/Calendario/simbolo de mas.png" alt=""></a>
    </section>
    <section class="dia">
      <div class="dias__item">L</div>
      <div class="dias__item">M</div>
      <div class="dias__item">X</div>
      <div class="dias__item">J</div>
      <div class="dias__item">V</div>
      <div class="dias__item" style="color: var(--principal);">S</div>
      <div class="dias__item" style="color: var(--principal);">D</div>
    </section>
  
    <div class="calendario">
        <div class="calendario__dia" *ngFor="let day of calendarDays" (click)="handleDayClick(day)">
          <ng-container *ngIf="day.date">
            <a href=""
              [ngClass]="{'current-date': isSameDate(day.date, currentDate), 'has-citas': day.hasCitas}"
              style="color: {{ getTextColor(day) }}">{{ day.date | date: 'd' }}</a>
            <div class="citas-marker" *ngIf="day.hasCitas"></div>
          </ng-container>
        </div>
      </div>
    
      <section class="citas-agendadas">
        <div class="cita-card" *ngFor="let cita of selectedDayCitas">
          <p class="cliente">Cliente: {{ cita.email }}</p>
          <p>Hora: {{ cita.hora }}</p>
          <p>Especificaciones: {{ cita.asunto }}</p>
        </div>
      </section>
    </main>