<main>
    <div class="buscador">
        <input type="text" placeholder="Buscar..." />
        <button>
            <img src="/assets/img/lupa.png" alt="Lupa">
        </button>
    </div>

    <section class="chats">
        <a href="">
            <div class="chat">
                <div class ="chat-foto"><img src="/assets/chat-registro/albaricoque.png" alt=""></div>
                <div class ="chat-nombre">Albaricoque 33</div>
                <div class ="chat-logo"><img src="/assets/chat-registro/Communication-gris.png" alt=""></div>
            </div>
        </a>
    


    </section>
</main>