<main>
    <div class="buscador">
        <input type="text" placeholder="Buscar..." />
        <button>
            <img src="/assets/img/lupa.png" alt="Lupa">
        </button>
    </div>

    <section class="chats">
        <a href="">
            <div *ngFor="let conversacion of chats" class="chat">
                <div class ="chat-foto"><img src="{{conversacion.photo}}" alt=""></div>
                <div class ="chat-nombre">{{conversacion.user_name}}</div>
                <div class ="chat-logo"><img src="/assets/chat-registro/Communication-gris.png" alt=""></div>
            </div>
        </a>
    


    </section>
</main>