<div class="fondo">

  <div class="cajaNueva">
    <div class="line1">


      <div class="profileimg">
        <img class="photo" src={{this.user.photo}} alt="">
      </div>
      <div class="editar">
        <a routerLink="/edit-profile-tatuador">
          <div class="boton" routerLinkActive="active">
            <img src="./assets/editarp.png" alt="" class="bedit">
          </div>
        </a>
      </div>


      <div class="valoracion">
        <a routerLink="/opiniones">
          <img src="./assets/estrellas.png" alt="" routerLinkActive="active">
        </a>
      </div>

    </div>
  </div>


  <div class="line2">
    <div class="name">
      <h3>{{this.user.nickname}}</h3>
    </div><br>
    <div class="descrip">
      <p>{{this.user.descripcion}}</p>
    </div>
    <div class="tienda">
      <a (click) = "goTienda(userService.user.id_user)">
        <p routerLinkActive="active"><br></p>
      </a>
    </div>
  </div>

  
  <div class="artista-card" *ngFor="let photo of user.publicaciones">
    <div class="foto">

      <button class="buter" type="button" (click)="deleteCardPerfil(photo)">X</button>
      <img src={{photo.photo}} alt="Foto">
    </div>
  </div>

</div>