<main class ="contenedor">
    <section class="head">
        <h1 class ="Text" >Nuevo evento</h1>
        <a routerLink="/tablon" routerLinkActive="active"><img src="/assets/Calendario/cruz.png" alt=""></a>
    </section>

    <section class ="inputs">
        <input type="text" placeholder="     Cartel del evento">
        <input type="text" placeholder="     Nombre del evento">
        <input type="text" placeholder="     Fecha del evento "> 
        <input type="text" placeholder="     Lugar del evento"> 
    </section>


    <section class ="back">
        <a routerLink="/tablon" routerLinkActive="active"><img src="/assets/Calendario/Vector.png" alt=""></a>

    </section>
    <section>
        <div class ="logo">
            <img src="/assets/Calendario/polilla.png" alt="">
        </div>
    </section>


</main>


