<main class ="contenedor">
    <section class="head">
        <h1 class ="Text" >Nueva prenda</h1>
        <a routerLink="/tienda" routerLinkActive="active"><img src="/assets/Calendario/cruz.png" alt=""></a>
    </section>

    <section class ="inputs">
        <input type="text" placeholder="     Foto de la prenda">
        <input type="text" placeholder="     Descripción">
    </section>


    <section class ="back">
        <a routerLink="/tienda" routerLinkActive="active"><img src="/assets/Calendario/Vector.png" alt=""></a>

    </section>
    <section>
        <div class ="logo">
            <img src="/assets/Calendario/polilla.png" alt="">
        </div>
    </section>


</main>


