
<main class="contenedor">
    <section class="head">
        <div><img  src="./assets/images/flecha-atras.png" alt="" routerLink="/calendario" routerLinkActive="active" class="atras"></div>
        <h1 class ="Text" >Modificar cita</h1>
        <div class="margenY">
            <button class="eliminar">Eliminar</button>
        </div>
    </section>

    <section class ="inputs">
        <input type="text" placeholder="     Asunto">
        <input type="text" placeholder="     Correo electrónico">
        <input type="text" placeholder="     Fecha" class ="fecha">
        <input type="text" placeholder="     Hora">
    </section>
    <div>
        <a routerLink="/calendario" routerLinkActive="active"><img src="/assets/Calendario/Vector.png" alt="" class="tick"></a>
    </div>
    <section class ="back"></section>
  </main>
  